bin
include
lib
local
share
lib-python
lib_pypy
site-packages
venv
*.pyc

*.egg-info
build
man
MANIFEST
dist
pip-selfcheck.json

.vscode/
enocean/protocol/eep - Copie.py
scripts/combine_eep.py
scripts/split_eep.py
scripts/display_eep.py
scripts/display_eep_details.py
packets_list.txt
.idea/
shortcut_list.json
shortcut_list.txt
